/vendor/
/composer.phar
*.log
.env
.env.*
.idea/
.vscode/
Thumbs.db
.DS_Store
/utilisateurs/
/Jeux/
/Articles/
/photo_profil/
/miniature/
/bandeaux/

/images/*
!/images/langues/
!/images/plateformes/

/portfolio/utilisateurs/
/portfolio/Jeux/
/portfolio/Articles/
/portfolio/photo_profil/
/portfolio/miniature/
/portfolio/bandeaux/
/portfolio/images/
/portfolio/sftp.log